###: === //apps/nextjs/.gitignore ==========================================

# TODO: still an issue on netlify?
# vercel cannot handle symlinked files, so assets that must be served publicly
# need to be copied into place during deployments. since we already have the
# files, they should not be added to git more than once.
/public/assets/shared/
