###: === //apps/nextjs-app/.gitignore ==========================================

# TODO: still an issue on netlify?
# vercel cannot handle symlinked files, so assets that must be served publicly
# need to be copied into place during deployments. since we already have the
# files, they should not be added to git more than once.
/public/assets/shared/


###: === //.gitignore ==========================================================
#
#    Copy the following section from the repo-root `.gitignore`
#    to all `.gitignore` files stored in descendent directories:
#
#       $ fd --hidden --no-ignore --exclude vendor --exclude node_modules '.gitignore'
#
#    This duplication ensures that each package/project/app follows the same rules.

##: build artifacts
build/
dist/

##: nix
.std
result

##: javascript/nodejs/typescript
.eslintcache/
.turbo
*.tsbuildinfo
*.map

##: npm/yarn
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

##: next.js
.next/

##: php: composer
**/vendor

# wp-cli
wp-cli.local.yml

##: local data
.data/
.direnv/
*.local
.netlify

##: secrets
*.pem
# <https://dotenv.org/env-me> {{{
.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example
!.env.sample
# }}}

##: testing
coverage

##: vm
*.qcow2
*.img

##: misc. clutter
.DS_Store
tmp/
*.log
*.tmp

##: devops
*.tfstate*
.terraform/
