# SPDX-FileCopyrightText: 2022 Temple University
#
# SPDX-License-Identifier: CC0-1.0

# Uncomment to disable the automatic menu display.
# export DEVSHELL_NO_MOTD=1

watch_file nix/devshells/* flake.nix

# Load the default devshell.
use flake || use nix

# Install git hooks
lefthook install

if on_git_branch; then
  echo && git status --short --branch &&
  echo && git fetch --verbose
fi
