#!/bin/sh
# SPDX-FileCopyrightText: 2022-2023 Temple University <kleinweb@temple.edu>
# SPDX-License-Identifier: GPL-3.0-or-later

NIX_DIRENV_VERSION="2.2.1"
NIX_DIRENV_SHA="sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
if ! has nix_direnv_version || ! nix_direnv_version "${NIX_DIRENV_VERSION}"; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/${NIX_DIRENV_VERSION}/direnvrc" "${NIX_DIRENV_SHA}"
fi

# shellcheck disable=SC1090
. "$(
  nix eval \
  --no-update-lock-file \
  --no-write-lock-file \
  --no-warn-dirty \
  --accept-flake-config \
  .#__std.direnv_lib 2>/dev/null \
  || nix eval .#__std.direnv_lib # show the errors
)"
use std cells //_automation/devshells:default

# Ensure yarn dependencies.
yarn

# Add Composer bin directories to PATH.
# TODO: do this for other `.envrc` files too -- but they would need to retain
# this top-level env too.
PATH_add vendor/bin

if on_git_branch; then
  echo && git status --short --branch &&
  echo && git fetch --verbose
fi
