# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##: build artifacts
build
result

##: dependencies / package managers
node_modules/
.npm/
vendor/

##: private/local files
*.local
.env
.env*.local
*.pem
*.log

##: cache/state files
/.data/
*.tfstate*
*.tfvars
.direnv/
.eslintcache/
.terraform/
/graphql/generated

##: testing
/coverage

##: virtual machine images
*.qcow2
*.img

##: os clutter
.DS_Store

##: temporary files
*.tmp
tmp/

##: javascript/typescript
*.tsbuildinfo

##: next.js
.next/
next-env.d.ts
out/
.vercel

# nixago: ignore-linked-files
.prettierrc.json
.data/lima-vm/logan-center.yml
.wp-env.json
