# SPDX-FileCopyrightText: 2022-2023 Temple University
#
# SPDX-License-Identifier: CC0-1.0

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##: build artifacts
build/
dist/

##: nix
.std
result

##: javascript/nodejs/typescript
.eslintcache/
.turbo
*.tsbuildinfo
*.map

##: npm/yarn
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

##: next.js
.next/

##: environment-specific
.data/
.direnv/
.env
.env*.local
*.local

##: secrets
*.pem

##: testing
coverage

##: vm
*.qcow2
*.img

##: misc. clutter
.DS_Store
tmp/
*.log
*.tmp

##: devops
*.tfstate*
.terraform/
.vercel

# nixago: ignore-linked-files
apps/wp-env/.wp-env.json
kleinweb.config.json
.prettierrc.json
