# SPDX-FileCopyrightText: 2022 Temple University
#
# SPDX-License-Identifier: CC0-1.0

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##: build artifacts
build
result
dist/

##: node/npm/yarn
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*

##: private/local files
*.local
.env
.env*.local
*.pem
*.log

##: cache/state files
.data/
*.tfstate*
*.tfvars
.direnv/
.eslintcache/
.terraform/
.turbo

##: testing
coverage

##: virtual machine images
*.qcow2
*.img

##: os clutter
.DS_Store

##: temporary files
*.tmp
tmp/

##: javascript/typescript
*.tsbuildinfo

# nixago: ignore-linked-files
apps/wordpress-app/.wp-env.json
kleinweb.config.json
.prettierrc.json
.data/lima-vm/logan-center.yml
