/*
 * SPDX-FileCopyrightText: 2021 Automattic
 * SPDX-FileCopyrightText: 2022 Temple University
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-License-Identifier: MIT
 */

.container {
  background-color: var(--nc-ac-1);
  margin: 1em 0;
  padding: 1em;
}

.title {
  margin-bottom: 0.75em;
}
