/*
 * SPDX-FileCopyrightText: 2021 Automattic
 * SPDX-FileCopyrightText: 2022-2023 Temple University <kleinweb@temple.edu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later OR MIT
 */

.container {
  border: solid 1px #ccc;
  border-radius: 0.5em;
  margin: 1.5em 0;
  padding: 1em;
}
