# SPDX-FileCopyrightText: 2022-2023 Temple University
# SPDX-License-Identifier: CC0-1.0

DB_NAME='db'
DB_USER='db'
DB_PASSWORD='db'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Required for ddev
DB_HOST='ddev-logancenter-wp-next-db'

# Optional database variables
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='https://logancenter-wp-next.ddev.site'
WP_SITEURL="${WP_HOME}/wp"
NEXT_FRONTEND_URL="http://localhost:3000"

# Required to enable monitoring with Sentry.
# This URL does not need to be kept secret -- in client-side JS, it would be public anyway.
WP_SENTRY_DSN='https://6015afd0733c4c3393549c2771235fb6@o4504793704300544.ingest.sentry.io/4504793716031488'

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
